<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bridor.EzPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Bridor.EzPrint.Properties.Settings.DataSource" connectionString="Data Source=(local);Initial Catalog=ETIQUETTESNOBELROUEN;Integrated Security=True;Application Name=&quot;Bridor EzPrint&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Bridor.EzPrint.Properties.Settings>
            <setting name="PlantNumber" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Francois</value>
            </setting>
            <setting name="PathLabels" serializeAs="String">
                <value>D:\Projects\B\Bridor 2019\Labels\</value>
            </setting>
            <setting name="PrintMaxQty" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="PathCommand" serializeAs="String">
                <value>D:\Projects\B\Bridor 2019\Command Files\</value>
            </setting>
            <setting name="PathCommandBartender" serializeAs="String">
                <value>D:\Projects\B\Bridor 2019\Commands Bartender\</value>
            </setting>
            <setting name="BF_BARCODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BF_SUFFIX" serializeAs="String">
                <value>!!</value>
            </setting>
            <setting name="PrinterClock" serializeAs="String">
                <value>True</value>
            </setting>
        </Bridor.EzPrint.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
